extends layout

block content
  include navbar.pug
  include footer.pug

  body.page-layout
    +navbar
    section.hero.is-link
      .hero-body
        h1.title The Admin Thing
        h2.subtitle Something about the admin thing
    +footer      