extends layout

block content
  include navbar.pug
  script(src="/js/index.js")
  body.page-layout
    +navbar
    section.hero.is-info
      .container
        .hero-body
          h1.title Sample Application
          h2.subtitle Thanks for coming, please see the description below for more information.
    section.hero
      .container
        .hero-body
          .content
            div.message.in-warning#desc-info
                div#desc-header.message-header
                  p Click here for more information about the development of this example application
                div#desc-content.message-body
                    p This web application is served up using Node.js on the Express middleware, backed by a Java REST API, using the following frameworks and technologies/tools:
                    ul
                      li Spring Boot              
                      li Hibernate
                      li MySQL Database
                      li JQuery
                      li HTML - Using the <strong><a href="https://pugjs.org">Pug templating engine</a></strong>)
                      li CSS - using the <strong><a href="https://bulma.io">Bulma.io framework</a></strong>)
              
                      h3.subtitle Take a look at source code, available on my github repositories:
                      ul
                        li 
                          a(href="https://github.com/jarc11/website-nodejs") https://github.com/jarc11/website-nodejs
                        li 
                        a(href="https://github.com/jarc11/spring-rest-example") https://github.com/jarc11/spring-rest-example
        hr
    section.hero
      
      .container
        .hero-body
          h1.title Battery Calculator
          h3.subtitle Fill out some values and hit submit.
          .message.is-success
            .message-header
              p If you're logged in...
            .message-body
              p You'll have the option to save your results and add a handy description.
          .columns
            .column
            .column.is-three-fifths
              .content
              h4.subtitle Fire Alarm Battery Calculator
              .box
                form#calcForm
                  .field
                    .control
                      input.input(type="number" step="0.01" placeholder="Battery Standby Period (hours)" required)
                  .field
                    .control
                      input.input(type="number" step="0.01" placeholder="Alarm Time (hours)" required)
                  .field
                    .control
                      input.input(type="number" step="0.01" placeholder="Battery Standby Load" required)
                  .field
                    .control
                      input.input(type="number" step="0.01" placeholder="Battery Alarm Load" required)
                  .field
                    .control
                      input.input(type="text" step="0.01" placeholder="Derating factory (defaults to 1.75)")
                  .field#storageContainer
                    .field
                      .control
                        <label class="checkbox"><input type="checkbox" id="store"> Store Results?</label>
                  #storefields.field
                    .field
                      .control
                        input.input(type="text" placeholder="Enter a unique test identifier")
                    .field
                      .control
                        input.input(type="text" placeholder="Enter a description for this test (e.g. location)")
                  .field
                    .control
                      button.button.is-dark(submit) Calculate
            .column
    script(src="https://wikiki.github.io/node_modules/bulma-extensions/bulma-accordion/dist/bulma-accordion.min.js")