extends layout

block content
  include navbar.pug

  body.page-layout
    +navbar
    section.hero.is-info
      .container.is-fullhd
        .hero-body
          h1.title Sample Application
          h2.subtitle Thanks for coming, please see the description below for more information.
    section.hero
      .container
        .hero-body
          .content
            h1.title Description
            h3.subtitle Welcome to my example application.
            p This web application is served up using Node.js on the Express middleware, backed by a Java REST API, using the following frameworks and technologies/tools:
            ul
              li Spring Boot              
              li Hibernate
              li MySQL Database
              li HTML - Using the <strong><a href="https://pugjs.org">Pug templating engine</a></strong>)
              li CSS - using the <strong><a href="https://bulma.io">Bulma.io framework</a></strong>)
              
            h3.subtitle Take a look at source code, available on my github repositories:
            ul
              li 
                a(href="https://github.com/jarc11/website-nodejs") https://github.com/jarc11/website-nodejs
              li 
                a(href="https://github.com/jarc11/spring-rest-example") https://github.com/jarc11/spring-rest-example
        hr
    section.hero
      .container
        .hero-body
          h1.title Battery Calculator
          h3.subtitle Fill out some values and hit submit.
          .message.is-info 
            .message-header
              p If you're logged in...
            .message-body
              p You'll have the option to save your results and add a handy description.
          .content
            h4.subtitle Fire Alarm Battery Calculator
            .box
              form#calcForm
                .field
                  label.label Some value
                  .control
                    input.input(type="text")