extends layout

block content
  include navbar.pug
  include footer.pug

  body.page-layout
    +navbar
    section.hero.is-info
      .container.is-fullhd
        .hero-body
          h1.title The Main Thing
          h2.subtitle Something about the main thing
    section.hero
      .container.is-fullhd
        .hero-body
          .box
            form(action="/api/users/login" method="POST")
              .field
                p.control
                  input.input(type="email" placeholder="Email")
              .field
                p.control
                  input.input(type="password" placeholder="Password")
              .field
                p.control
                  button.button.is-success Login
    +footer