extends layout

block content
  include navbar.pug
  script(src="/js/login.js")

  body.page-layout
    +navbar
    section.hero.is-warning
      .container.is-fullhd
        .hero-body
          h1.title Login
          h2.subtitle This allows you to store the results of the calculations
    section.hero
      .container.is-fullhd
        .hero-body
          .box
            form#loginForm
              .field
                p.control
                  input.input#username(type="text" placeholder="Username" required)
              .field
                p.control
                  input.input#password(type="password" placeholder="Password" required)
              .field
                p.control
                  button.button.is-success Login
            p Haven't got an account? 
              a(href="/register") Register here